body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-image: url("bgimage/pexels-alteredsnaps-13258085.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'josephin sans',sans-serif;
}

div.container{
    width: 100%;
    height: 15vh;
    text-align: center;
    color: rgba(236, 13, 13, 0.473);
    background-color: rgba(0, 0, 0, 0.479);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    position: sticky;
    top: 0;
}

header{
    width:25%;
    text-align:center;
}

nav{
    width:40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    width: 14%;
    height: 50%;
    text-decoration: none;
    color: rgba(42, 158, 148, 0.705);
    font-weight: bold;
    padding: 12px;
}

nav a:hover{
    color:white;
    background-color: rgba(233, 150, 122, 0.432);
}

div.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-options{
    display: none;
    position: absolute;
    overflow: auto;
}

.dropdown:hover .dropdown-options{
    display: block;
}

.dropdown-options a{
    display: block;
    padding: 10px 8px;
    width: 98px;
    color: brown;
    background-color: rgba(233, 150, 122, 0.432);
    border: 1px solid;
    margin-top: 13px;
}

.dropdown-options:hover{
    color: gainsboro;
    border: 0px solid black;
    padding-left: 2px;
    padding-right: 4px;
}
main{
    width:100%;
    height:85vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

p{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
}

section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: 1px 2px 3px black;
    text-transform: uppercase;
}

section h3 a{
    padding-top: 5px;
    margin: 2px 2px;
    text-decoration: none;
    color: brown;
    font-weight: bolder;
}


section h3 a:hover{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px;
    color:white;
    background-color:#cd7658;
    transition: 0.6s all ease-in-out;
}
